.contacto {
    max-width: 600px;
    margin: 50px auto;
    background: $color-blanco;
    padding: 30px;
    border-radius: 10px;
    box-shadow: $sombra-card;
    text-align: left;

    h2 {
        text-align: center;
        color: $color-primario;
        margin-bottom: 20px;
    }

    input, textarea {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    button {
        width: 100%;
        background-color: $color-primario;
        color: $color-blanco;
        border: none;
        padding: 10px;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: darken($color-primario, 10%);
        }
    }
}
