header {
    background-color: $color-secundario;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px;
    width: 100%;

    img {
        width: 10%;
    }

    nav ul {
        color: black;
        display: flex;
        list-style: none;
        gap: 30px;

        li {
            font-size: 18px;

            a {
                text-decoration: none;
                color: black;
                padding: 5px 10px;
                border-radius: 4px;
                transition: background-color 0.3s;

                &:hover {
                    background-color: $color-primario;
                    color: $color-blanco;
                }
            }
        }
    }
}

