// productos
.productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    width: 250px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 10px;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: $border-radius;
    }

    h3 {
        color: $color-primario;
        margin: 10px 0;
    }

    p {
        font-size: 14px;
        color: #555;
    }
//precio
    .precio {
        display: block;
        font-size: 18px;
        font-weight: bold;
        color: $color-primario;
        margin: 10px 0;
    }
//boton para comprar
    .btn-comprar {
        background-color: $color-primario;
        color: white;
        border: none;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: $button-hover;
        }
    }
}
