// Colores
$color-primario: #d63384;
$color-secundario: pink;
$color-fondo: #ffe6f2;
$color-texto: #555;
$color-blanco: white;
$button-hover:#b82b6d;

// Tipografía
$fuente-principal: Arial, sans-serif;

// Sombras
$sombra-card: 0 4px 8px rgba(0, 0, 0, 0.2);
$sombra-hover: 0 6px 12px rgba(0, 0, 0, 0.3);
$border-radius: 10px;
$box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);